<div class="page-content">
  <div class="container">
    <div class="p-2">
    </div>
    <div class="shadow-lg border-radius-10">
      <div class="cover-bg p-3 p-lg-4 text-white">
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="avatar hover-effect bg-white shadow-sm p-2">
              <img height="200" src="assets/images/profile2.jpeg" width="200" alt="Shalin Patel">
            </div>
          </div>
          <div class="col-lg-8 col-md-7 text-center text-md-start">
            <h2 class="h1 mt-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="0">Shalin Patel</h2>
            <p class="aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">Full Stack Developer</p>
            <!--<div class="d-print-none aos-init aos-animate" data-aos="fade-left" data-aos-delay="200"><a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="right-resume.pdf" target="_blank">Download
              CV</a><a class="btn btn-success shadow-sm mt-1" href="#contact">Hire Me</a></div>-->
            <div style="height: 48px;"></div>
          </div>
        </div>
      </div>

      <div class="bg-white " style="height: 80px">

      </div>

      <div class="about-section pt-4 px-3 px-lg-4 bg-white ">
        <div class="row">
          <div class="col-md-6">
            <h2 class="h3 md-3">About Me</h2>
            <p>
              Experienced Software Developer with a demonstrated history of working in the computer software industry. Skilled in Java1.8, J2EE, Apache Tomcat, Eclipse, Servlets, Core Java, and
              RESTFull Web Services, Spring Boot, Oauth2 Authentications, Databases like MySQL, Oracle, PLSQL. Strong engineering professional with a Bachelor of Engineering focused in Computer
              Engineering from Ahmedabad Institute of Technology and ongoing Masters from New Jersey Institute of Technology in Computer Science.
            </p>
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="row mt-2">
              <div class="col-sm-4 pb-1">Age</div>
              <div class="col-sm-8 pb-1 text-secondary">28</div>
              <div class="col-sm-4 pb-1">Email</div>
              <div class="col-sm-8 pb-1 text-secondary">ShalinPatel1610@gmail.com</div>
              <div class="col-sm-4 pb-1">Phone</div>
              <div class="col-sm-8 pb-1 text-secondary">+1-201-985-4869</div>
              <div class="col-sm-4 pb-1">Address</div>
              <div class="col-sm-8 pb-1 text-secondary">Jersey City, NJ</div>
              <div class="col-sm-4 pb-1">Languages Known</div>
              <div class="col-sm-8 pb-1 text-secondary">Gujarati(FL), English, Hindi</div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-3 bg-white">
        <hr class="d-print-none m-0">
      </div>

      <div class="skills-section px-3 px-lg-4 bg-white ">
        <h2 class="h3 mb-3">Professional Skills</h2>
        <div class="row">
          <div class="col-3">
            <div>Front-end</div>
            <div *ngFor="let bean of skills.front" class="mb-2">
              <span>{{bean.name}}</span>
              <div class="progress my-1">
                <div [style]="'width: '+bean.percent+'%'" aria-valuemax="100" class="progress-bar bg-primary aos-init aos-animate" role="progressbar"></div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div>Middle Ware</div>
            <div *ngFor="let bean of skills.middleware" class="mb-2">
              <span>{{bean.name}}</span>
              <div class="progress my-1">
                <div [style]="'width: '+bean.percent+'%'" aria-valuemax="100" class="progress-bar bg-primary aos-init aos-animate" role="progressbar"></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div>Back-end</div>
            <div *ngFor="let bean of skills.backend" class="mb-2">
              <span>{{bean.name}}</span>
              <div class="progress my-1">
                <div [style]="'width: '+bean.percent+'%'" aria-valuemax="100" class="progress-bar bg-primary aos-init aos-animate" role="progressbar"></div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div>Tools</div>
            <div *ngFor="let bean of skills.tools" class="mb-2">
              <span>{{bean.name}}</span>
              <div class="progress my-1">
                <div [style]="'width: '+bean.percent+'%'" aria-valuemax="100" class="progress-bar bg-primary aos-init aos-animate" role="progressbar"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="py-3 bg-white">
        <hr class="d-print-none m-0">
      </div>
      <div class="work-experience-section px-3 px-lg-4  bg-white">
        <h2 class="h3 mb-4">Work Experience</h2>
        <div class="timeline">
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Technology Analyst <span class="text-muted h6">at <a href="https://www.infosys.com/americas.html" target="_blank">Infosys</a></span></div>
              <div class="text-muted text-small mb-2">
                October, 2019 - Present &nbsp; | &nbsp;
                <span class="mx-2"><fa-icon [icon]="icons.maps"></fa-icon></span><a href="https://www.google.com/search?q=weehawken+nj" target="_blank">Weehawken, New Jersey, U.S.A.</a>
              </div>
              <div>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall
                value
                proposition.
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">
                Full Stack Software Developer
                <span class="text-muted h6">
                  at <a href="https://commoncentsdistributors.com/" target="_blank">Common Cents Dist.</a>
                </span>
              </div>
              <div class="text-muted text-small mb-2">
                June, 2019 - October, 2019 &nbsp; | &nbsp;
                <span class="mx-2"><fa-icon [icon]="icons.maps"></fa-icon></span><a href="https://www.google.com/search?q=fairfield+nj" target="_blank">Fair Field, New Jersey, U.S.A.</a>
              </div>
              <div>Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom
                line.
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Software Developer <span class="text-muted h6">at <a href="https://www.eclinicalworks.com" target="_blank">eClinicalWorks</a></span></div>
              <div class="text-muted text-small mb-2">June, 2016 - August, 2017 &nbsp; | &nbsp;
                <span class="mx-2"><fa-icon [icon]="icons.maps"></fa-icon></span><a href="https://www.google.com/search?q=ahmedabad+gujarat+india&oq=ahmedabad+gujarat+india"
                                                                                    target="_blank">Ahmedabad, Gujarat, India</a></div>
              <div>User generated content in real-time will have multiple touchpoints for offshoring. Organically grow the holistic world view of disruptive innovation via workplace diversity and
                empowerment.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-3 bg-white">
        <hr class="d-print-none m-0">
      </div>
      <div class="page-break"></div>
      <div class="education-section px-3 px-lg-4 pb-4  bg-white">
        <h2 class="h3 mb-4">Education</h2>
        <div class="timeline">
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Master of Science in Computer Science <span class="text-muted h6">from New Jersey Institute Of Technology (Ying Wu College of Computing)</span></div>
              <div class="text-muted text-small mb-2">2017 - 2019 &nbsp; | &nbsp;
                <span class="mx-2"><fa-icon [icon]="icons.maps"></fa-icon></span><a href="https://www.google.com/search?q=newark+new+jersey+usa&oq=newark+new+jersey+USA" target="_blank">Newark, New Jersey, U.S.A.</a>
              </div>
              <div>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Bachelor of Engineering in Computer Engineering <span class="text-muted h6">from Gujarat Technological University (Ahmedabad Institute of Technology)</span></div>
              <div class="text-muted text-small mb-2">2012 - 2016 &nbsp; | &nbsp; <span class="mx-2"><fa-icon [icon]="icons.maps"></fa-icon></span><a href="https://www.google.com/search?q=ahmedabad+gujarat+india&oq=ahmedabad+gujarat+india" target="_blank">Ahmedabad, Gujarat, India</a></div>
              <div>
                Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-3 bg-white">
        <hr class="d-print-none m-0">
      </div>
      <div class="content-section px-3 px-lg-4 pb-4  bg-white" id="contact">
        <h2 class="h3 text mb-3">Contact</h2>
        <div class="row">
          <div class="col-md-7 d-print-none">
            <div class="my-2">
              <form method="POST">
                <div class="row">
                  <div class="col-6">
                    <input [(ngModel)]="fullName" class="form-control" id="name" name="name" placeholder="Your Name" required=true type="text">
                  </div>
                  <div class="col-6">
                    <input [(ngModel)]="email" class="form-control" id="email" name="_replyto" placeholder="Your E-mail" required=true type="email">
                  </div>
                </div>
                <div class="form-group my-2">
                  <textarea [(ngModel)]="message" class="form-control" id="message" name="message" placeholder="Your Message" required=true rows="4" style="resize: none;"></textarea>
                </div>
                <button (click)="mailTo()" class="btn btn-primary mt-2" type="button">Send</button>
              </form>
            </div>
          </div>
          <div class="col">
            <div class="mt-2">
              <h3 class="h6">Address</h3>
              <div class="pb-2 text-secondary">Jersey City, New Jersey, U.S.A.</div>
              <h3 class="h6">Phone</h3>
              <div class="pb-2 text-secondary">+1201-985-4869</div>
              <h3 class="h6">Email</h3>
              <div class="pb-2 text-secondary">ShalinPatel1610@gmail.com</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
